.garden-img{
    width: 700px;
   
}
.eco-text{
    font-size: 36px;
    font-weight: 400;
    color: #7EB693;
    font-family: "Yellowtail";
}
.eco-title{
    color: #274C5B;
    font-size: 50px;
    font-weight: 800;
    font-family: "Roboto";
    width: 606px;
    margin: 0;
}
.unde-text{
width: 640px;
color: #525C60;
font-size: 18px;
font-weight: 400;
font-family: "Open Sans";
}
.today-text{
    font-size: 25px;
    font-weight: 500;
    color: #274C5B;
    font-family: "Roboto";
}
.eco-box{
    border-radius: 10px;
    position: absolute;
    margin: -664px 470px;
    background-color: #FFFFFF;

}

.green{
    margin-top: 200px;
    height: 700px;
}