.whan-section{
    background-image: url(../img/Image\ \(5\).png);
     width: 1667px;
    margin: 0 -158px;
    height: 800px;
  
    
}
.food-text{
    color: #68A47F;
    font-size: 36px;
    font-weight: 400;
    font-family: "Yellowtail";
}
.best-text{
    color: #274C5B;
    font-size: 70px;
    font-family: "Roboto";
    font-weight: 700;
    width: 600px;
}
.now-btn{
    width: 220px;
    height: 79px;
    border-radius: 19px;
    border: none;
    color: #274C5B;
    font-size: 20px;
 background-color: #FFFFFF;
    font-family: "Roboto";
}

.now-btn:hover{
    background-color: #EFD372;
}
.now-btn:active{
    background-color: #274C5B;
}

.svg-img{
    margin: -3px -43px;
}
.food-title{
    padding-left: 60px;
    padding-top: 100px;
}